// Font Face
// ---------

// Usage
// @include font-face(font-family, font-name, weight, style, font-path);

// Arguments
// $_font-family: Font name
// $_font-name: Font name (Default: $font-family)
// $_weight: bold, extra-bold, normal, semi-bold (Default: normal)
// $_style: italic, normal (Default: normal)
// $_font-path: Relative path to font from CSS (Default: '../fonts/')

// Note
// Include order: normal, bold, italic, bold + italic

@mixin font-face($_font-family, $_font-name: $_font-family, $_weight: normal, $_style: normal, $_font-path: '../fonts/') {
  @font-face {
    font-family: $_font-family;
    font-weight: $_weight;
    font-style: $_style;
    src: url("#{$_font-path}#{$_font-name}.eot");
    src: url("#{$_font-path}#{$_font-name}.eot?#iefix") format("embedded-opentype"),
         url("#{$_font-path}#{$_font-name}.woff") format("woff"),
         url("#{$_font-path}#{$_font-name}.ttf") format("truetype"),
         url("#{$_font-path}#{$_font-name}.svg##{$_font-family}") format("svg");
  }
}