// Triangle
//---------

// Usage
// @include triangle(size, color, direction);

// Arguments
// $_size: Number with unit
// $_color: Color
// $_direction: down, left, right, up

@mixin triangle($_size, $_color, $_direction) {
  border: inset $_size;
  @if ($_direction == down) {
    border-color: $_color transparent transparent;
    border-top-style: solid;
  }
  @if ($_direction == left) {
    border-color: transparent $_color transparent transparent;
    border-right-style: solid;
  }
  @if ($_direction == right) {
    border-color: transparent transparent transparent $_color;
    border-left-style: solid;
  }
  @if ($_direction == up) {
    border-color: transparent transparent $_color;
    border-bottom-style: solid;
  }
  content: '';
  display: block;
  height: 0;
  width: 0;
}