// Vertical Align Middle
// ---------------------

// Usage
// @include vertical-align-middle(child, psuedo-element);

// Arguments
// $_child: Child selector
// $_pseudo-element: after, before (Default: before)

@mixin vertical-align-middle($_child, $_pseudo-element: before) {
  &:#{$_pseudo-element} {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  & #{$_child} {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
}