//------------------------------//
// CSS MIXINS
//------------------------------//

// ---------- Breakpoints ---------- //

// Usage:
// @include breakpoint(small) {}

@mixin breakpoint($point) {
  @if $oldie {
    @if ($point == small) or ($point == medium) {
      @content;
    }
  }
  @else {
    @each $breakpoint in $breakpoints {
      @if $point == nth($breakpoint, 1) {
        @media (min-width: nth($breakpoint, 2)) {
          @content;
        }
      }
    }
  }
}

// ---------- border-box ---------- //

// Usage:
// @include border-box;

@mixin border-box {
  box-sizing: border-box;
  @if $oldie {
    *behavior: url(/assets/js/boxsizing.htc);
  }
}

// Extend border-box
// Usage:
// @extend %border-box;

%border-box {
  @include border-box;
}

// ---------- inline-block ---------- //

// Usage:
// @include inline-block;

@mixin inline-block {
  display:inline-block;
  vertical-align: top;
  @if $oldie {
    zoom: 1; // oldie
    *display: inline; // oldie
    *vertical-align: auto; // oldie
  }
}

// Extend inline-block
// Usage:
// @extend %inline-block;

%inline-block {
  @include inline-block;
}