//------------------------------//
// HELPER MIXINS
//------------------------------//

// Based on:
// HTML5 Boilerplate helper classes
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

// ---------- image-replacement ---------- //

// Usage:
// @include image-replacement;

@mixin image-replacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  @if $oldie {
    *text-indent: -9999px;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

// Extend image-replacement
// Usage:
// @extend %image-replacement;

%image-replacement {
  @include image-replacement;
}

// ---------- hidden ---------- //

// Hide from both screenreaders and browsers
// Usage:
// @include hidden;

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Extend hidden
// Usage:
// @extend %hidden;

%hidden {
  @include hidden;
}

// ---------- visually-hidden ---------- //

// Hide only visually, but have it available for screenreaders
// Usage:
// @include visually-hidden;

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends visually-hidden to allow the element to be focusable when navigated to via the keyboard

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

// Extend visually-hidden
// Usage:
// @extend visually-hidden;

%visually-hidden {
  @include visually-hidden;
}

// ---------- invisible ---------- //

// Hide visually and from screenreaders, but maintain layout
// Usage:
// @include invisible;

@mixin invisible {
  visibility: hidden;
}

// Extend invisiable
// Usage:
// @extend %invisible;

%invisible {
  @include invisible;
}

// ---------- clearfix ---------- //

// Usage:
// @include clear;

@mixin clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  @if $oldie {
    & {
      *zoom: 1;
    }
  }
}

// Extend clearfix
// Usage:
// @extend %clear;

%clear {
  @include clear;
}