<!doctype html>{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <!-- {% raw %}{{ website.dev_banner }}{% endraw %} -->{% if site.ie_edge == true %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% endif %}{% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>{% else %}
  <title>{{ site.title }}</title>{% endif %}{% if page.description %}
  <meta name="description" content="{{ page.description }}">{% else %}
  <meta name="description" content="{{ site.description }}">{% endif %}{% if site.responsive_design == true %}
  <meta name="viewport" content="width=device-width, initial-scale=1">{% endif %}{% if site.blog_feed == true %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} Atom Feed" href="{{ relative }}feed.xml">{% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <link rel="stylesheet" href="{{ relative }}css/style-{% raw %}{{ hashmap.style_css }}{% endraw %}.min.css">{% if site.head_include == true %}
{% include head_include.html %}{% endif %}{% if page.head_include %}
  {{ page.head_include }}{% endif %}{% if site.oldie_support == true %}
  <!--[if (lt IE 9)]>
  <script src="{{ relative }}js/oldie-{% raw %}{{ hashmap.oldie_js }}{% endraw %}.min.js"></script>
  <![endif]-->{% endif %}
  <script>with(document.documentElement){className=className.replace(/\bno-js\b/,'')}</script>
</head>
<body>
{% include header.html %}
{{ content }}
{% include footer.html %}
  <!-- JavaScript -->{% if site.jquery == true %}
  <script src="{{ relative }}js/jquery-{% raw %}{{ hashmap.jquery_js }}{% endraw %}.min.js"></script>{% endif %}{% if site.scripts == true %}
  <script src="{{ relative }}js/script-{% raw %}{{ hashmap.script_js }}{% endraw %}.min.js"></script>{% endif %}{% if site.foot_include == true %}
{% include foot_include.html %}{% endif %}{% if page.foot_include %}
  {{ page.foot_include }}{% endif %}{% if site.google_analytics == true %}
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.google_analytics_id }}');ga('send','pageview');
  </script>{% endif %}
</body>
</html>