// Mixins
// ------

// Image Replacement
// -----------------

// Usage
// @include image-replacement;

@mixin image-replacement {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// Usage
// @extend %image-replacement;

%image-replacement {
  @include image-replacement;
}