//---------------
//  BASE STYLES
//---------------

// ----- Base ----- //

a{color:#888;border-bottom:1px solid #444;text-decoration:none}a:hover{border-bottom:none}body{background:#0d0d0d;color:#eee;font-family:Verdana, Geneva, sans-serif;margin:3em auto}h1{color:#aaa;font-size:2em;font-weight:bold}main[role=main]{background:#1a1a1a;border-bottom:1em solid #121212;border-top:1em solid #121212;padding:3em;text-align:center}p{margin:1.5em 0 1.5em 0;text-align:center}

// ----- Classes ----- //



// ----- Sections ----- //

