//---------------
//  BASE STYLES
//---------------

// ----- Base ----- //

a{color:#666;border-bottom:1px solid #333;text-decoration:none}a:hover{border-bottom:none}body{background:#0a0a0a;color:#ccc;font-family:Verdana, Geneva, sans-serif;margin:3em auto}h1{color:#999;font-size:2em;font-weight:bold}main[role=main]{background:#1f1f1f;border-bottom:1em solid #050505;border-top:1em solid #050505;padding:3em;text-align:center}p{margin:1.5em 0 1.5em 0}

// ----- Classes ----- //



// ----- Sections ----- //

