//---------------
//  BASE STYLES
//---------------

// ----- Base ----- //

body{background:#111;color:#eee;margin:3em auto;text-align:center}a{color:#aaa;border-bottom:1px solid #777;text-decoration:none}a:hover{border-bottom:none}h1{color:#aaa;font-size:2em;font-weight:bold}p{margin:1.5em 0 1.5em 0}.default{background:#222;border-bottom:.5em solid #333;border-top:.5em solid #333;padding:3em}

// ----- Classes ----- //



// ----- Sections ----- //

