//------------------------------//
// Functions
//------------------------------//

// ---------- PX to EM ---------- //

// em(target, context);
@function em($target, $context: $base__font-size) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @return $target / $context * 1em;
}

// ---------- PX to REM ---------- //

// em(target);
@function rem($target) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($base__font-size) {
    $base__font-size: strip-units($base__font-size);
  }
  @return $target / $base__font-size * 1rem;
}

// ---------- Strip units ---------- //

@function strip-units($value) {
  @return $value / ($value * 0 + 1);
}