//------------------------------//
// PLACEHOLDERS
//------------------------------//

// ---------- border-box ---------- //

%border-box {
  box-sizing: border-box;
  @if $oldie  {
    *behavior: url(/assets/js/boxsizing.htc);
  }
}

// ---------- clear ---------- //

%clear {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  @if $oldie {
    & {
      *zoom: 1;
    }
  }
}

// ---------- Floats ---------- //

%left {
  float: left;
}

%right {
  float: right;
}

// ---------- hidden ---------- //

// Hide from both screenreaders and browsers

%hidden {
  display: none !important;
  visibility: hidden;
}

// ---------- image-replacement ---------- //

%image-replacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  @if $oldie {
    *text-indent: -9999px;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 150%;
  }
}

// ---------- invisible ---------- //

// Hide visually and from screenreaders, but maintain layout

%invisible {
  visibility: hidden;
}

// ---------- Media object ---------- //

// Media container

%media {
  @extend %clear;
  display: block;
}

// Media image

%media__image {
  @extend %left;

  & img {
    display: block;
  }
}

// Media image reversed

%media__image--rev {
  @extend %right;

  & img {
    display: block;
  }
}

// Media body

%media__body {
  overflow: hidden;
  @if $oldie {
    _overflow: visible;
    zoom: 1;
  }
}

// ---------- visually-hidden ---------- //

// Hide only visually, but have it available for screenreaders

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends visually-hidden to allow the element to be focusable when navigated to via the keyboard

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}