//------------------------------//
// VARIABLES
//------------------------------//

// ---------- Base ---------- //

$base__background-color: white !default;
$base__color: #222 !default;
$base__font-family: Verdana, Geneva, sans-serif !default;
$base__font-family--code: Georgia, Times, 'Times New Roman', serif !default;
$base__font-family--heading: Verdana, Geneva, sans-serif !default;
$base__font-size: 16px !default;
$base__line-height: 1.5 !default;
$base__max-width: none !default;
$oldie__width: 60em !default; // 960px

// ---------- Breakpoints ---------- //

$small: 30.0625em !default; // 481px
$medium: 48.0625em !default; // 769px
$large: 64.0625em !default; // 1025px
$xlarge: 85.4375em !default; // 1367px

// ---------- Colors ---------- //

$selection__background-color: #eee !default;

// ---------- Grid ---------- //

$baseline-grid__overlay: false !default; // Overlay baseline grid
$grid__columns: 48 !default;

// Number of grid columns

// ---------- Variables used in mixins that don't change ---------- //

$baseline: $base__font-size * $base__line-height !default; // Baseline grid mixin
$breakpoints: small $small, medium $medium, large $large, xlarge $xlarge !default; // Breakpoint mixin
$grid__column: 100% / $grid__columns !default; // Grid mixin
$oldie: false !default; // Set to true on oldie.scss to pull in 'oldie' styles