//------------------------------//
// Variables
//------------------------------//

// ---------- Project ---------- //



// ---------- Base ---------- //

// Colors

$background-color: white;
$selection-color: silver;
$color: black;

// Fonts

$font-family: Georgia, Times, "Times New Roman", serif;
$code-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$heading-font-family: Verdana, Geneva, sans-serif;

// Paths

$font-path: "../fonts/";
$image-path: "../img/";

// Sizes

$font-size: 16px;
$line-height: 24px;
$max-width: 100%;
$spacer: $line-height;

// ---------- Breakpoints ---------- //

$breakpoints: (
  small: #{481px / $font-size}em,
  medium: #{769px / $font-size}em,
  large: #{1025px / $font-size}em,
  xlarge: #{1281px / $font-size}em
);

// ---------- Grid ---------- //

$columns: 12;
$gutter: $spacer;

// ---------- oldIE ---------- //

$oldie: true;