//------------------------------//
// Variables
//------------------------------//

// ---------- Project ---------- //



// ---------- Base ---------- //

// Colors
$base__background-color: white;
$base__background-color--selection: silver;
$base__color: black;

// Fonts
$base__font-family: Georgia, Times, "Times New Roman", serif;
$base__font-family--code: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$base__font-family--heading: Verdana, Geneva, sans-serif;

// Paths
$base__font-path: "../fonts/";
$base__image-path: "../img/";

// Sizes
$base__font-size: 16px;
$base__line-height: 24px;
$base__max-width: 100%;
$spacer: $base__line-height;

// ---------- Breakpoints ---------- //

$small: #{481px / $base__font-size}em;
$medium: #{769px / $base__font-size}em;
$large: #{1025px / $base__font-size}em;
$xlarge: #{1281px / $base__font-size}em;

$breakpoints: small $small, medium $medium, large $large, xlarge $xlarge;

// ---------- Grid ---------- //

$grid__columns: 12;
$grid__spacer: $spacer / 2;

// ---------- oldIE ---------- //

$oldie: true;