//------------------------------//
// Ellipsis
//------------------------------//

// Usage
// @include ellipsis(max-width, type);

// Arguments
// $_max-width: Number - (Default: 100)
// $_type: fixed, fluid - (Default: fluid)

@mixin ellipsis($_max-width: 100, $_type: fluid) {
  @include inline-block;
  @if $_type == "fixed" {
    @include rem-px(max-width, $_max-width);
  }
  @else {
    @if $_max-width > 100 or $_max-width > 100% {
      max-width: 100%;
    }
    @else {
      max-width: strip-units($_max-width) * 1%;
    }
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}