// ------------------------------ //
// Grid Block, Column, Row
// ------------------------------ //

// ---------- Block ---------- //

// Usage
// @include block(padding-vertical, padding-horizontal);

// Arguments
// $_padding-vertical: Number - (Default: $spacer)
// $_padding-vertical: Number - (Default: $_padding-vertical)

@mixin block($_padding-vertical: $spacer, $_padding-horizontal: $_padding-vertical) {
  @if $_padding-vertical == 0 and $_padding-horizontal == 0 {}
  @else {
    @include rem-px(padding, $_padding-vertical, $_padding-horizontal);
  }
}

// ---------- Column ---------- //

// Usage
// @include column(columns, push, pull, offset, align, spacing-multiplier);

// Arguments
// $_columns: Number of columns out of total $columns - (Default: $columns)
// $_push: Number - (Default: 0)
// $_pull: Number - (Default: 0)
// $_offset: Number - (Default: 0)
// $_align: left, center, right - (Default: left)
// $_spacing-multiplier: Number - (Default: 1)

@mixin column($_columns: $columns, $_push: 0, $_pull: 0, $_offset: 0, $_align: left, $_spacing-multiplier: 1) {
  $_column: 100% / $columns;
  @if $_align != "center" {
    float: $_align;
  }
  @if $_push != 0 {
    left: $_push * $_column;
  }
  @if $_offset != 0 {
    @if $_align == "center" or $_align == "right" {}
    @else {
      margin-left: $_offset * $_column;
    }
  }
  @if $_align == "center" {
    margin-left: auto;
    margin-right: auto;
  }
  @if $_spacing-multiplier != 1 {
    @include rem-px(padding-left, $gutter / 2 * $_spacing-multiplier);
    @include rem-px(padding-right, $gutter / 2 * $_spacing-multiplier);
  }
  @else {
    @include rem-px(padding-left, $gutter / 2);
    @include rem-px(padding-right, $gutter / 2);
  }
  position: relative;
  @if $_pull != 0 {
    right: $_pull * $_column;
  }
  width: $_columns * $_column;
}

// ---------- Row ---------- //

// Usage
// @include row(max-width, type, align, margin-bottom, margin-top, spacing-multiplier, clear);

// Arguments
// $_max-width: Number - (Default: 100)
// $_type: fixed, fluid - (Default: fluid)
// $_align: left, center, right - (Default: center)
// $_margin-bottom: Number - (Default: 0)
// $_margin-top: Number - (Default: 0)
// $_spacing-multiplier: Number - (Default: 1)
// $_clear: boolean - (Default: true)

@mixin row($_max-width: 100, $_type: fluid, $_align: center, $_margin-bottom: 0, $_margin-top: 0, $_spacing-multiplier: 1, $_clear: true) {
  @if $_clear == true {
    @include clear;
  }
  clear: both;
  @if $_align == "left" {
    float: left;
  }
  @if $_align == "right" {
    float: right;
  }
  @if $_margin-bottom != 0 {
    @if $_spacing-multiplier != 1 {
      @include rem-px(margin-bottom, $_margin-bottom * $_spacing-multiplier);
    }
    @else {
      @include rem-px(margin-bottom, $_margin-bottom);
    }
  }
  @if $_align == "center" {
    margin-left: auto;
    margin-right: auto;
  }
  @if $_margin-top != 0 {
    @if $_spacing-multiplier != 1 {
      @include rem-px(margin-top, $_margin-top * $_spacing-multiplier);
    }
    @else {
      @include rem-px(margin-top, $_margin-top);
    }
  }
  @if $_type == "fixed" {
    @include rem-px(max-width, $_max-width);
  }
  @else {
    @if $_max-width > 100 or $_max-width > 100% {
      max-width: 100%;
    }
    @else {
      max-width: strip-units($_max-width) * 1%;
    }
  }
  @if $_spacing-multiplier != 1 {
    @include rem-px(padding-left, $gutter / 2 * $_spacing-multiplier);
    @include rem-px(padding-right, $gutter / 2 * $_spacing-multiplier);
  }
  @else {
    @include rem-px(padding-left, $gutter / 2);
    @include rem-px(padding-right, $gutter / 2);
  }
}