//------------------------------//
// Horizontal Rule
//------------------------------//

// Usage
// @include horizontal-rule(border-top-width, border-top-style, border-top-color, margin-multiplier, margins);

// Arguments
// $_border-top-width: Number - (Default: 1px)
// $_border-top-style: dashed, dotted, double, groove, inset, none, outset, ridge, solid - (Default: solid)
// $_border-top-color: Color - (Default: $color)
// $_margin-multiplier: Number - (Default: 1)
// $_margins: both, bottom, top - (Default: both)

@mixin horizontal-rule($_border-top-width: 1px, $_border-top-style: solid, $_border-top-color: $color, $_margin-multiplier: 1, $_margins: both) {
  $_width: strip-units($_border-top-width);
  display: block;
  height: 1px;
  border: 0;
  border-top: #{$_width}px $_border-top-style $_border-top-color;
  @if $_margin-multiplier == 0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  @else {
    $_margin-size: strip-units($line-height) * strip-units($_margin-multiplier);
    @if $_margins == bottom {
      @include rem-px(margin-bottom, $_margin-size);
      margin-top: 0;
    }
    @else if $_margins == top {
      margin-bottom: 0;
      @include rem-px(margin-top, $_margin-size);
    }
    @else {
      @include rem-px(margin-bottom, $_margin-size);
      @include rem-px(margin-top, $_margin-size);
    }
  }
}