//------------------------------//
// Triangles
//------------------------------//

// Usage
// @include triangle(size, color, direction);

// Arguments
// $_size: Number - (Default: $spacer)
// $_color: Color - (Default: $color)
// $_direction: down, down-inset, down-left, down-right, left, left-inset, right, right-inset, up, up-inset, up-left, up-right - (Default: down)

@mixin triangle($_size: $spacer, $_color: $color, $_direction: down) {
  position: relative;
  &:after {
    $_width: nth($_size, 1);
    $_height: nth($_size, length($_size));
    $_foreground-color: nth($_color, 1);
    $_background-color: if(length($_color) == 2, nth($_color, 2), transparent);
    @if $_direction == up or $_direction == down or $_direction == right or $_direction == left {
      $_width: $_width / 2;
      $_height: if(length($_size) > 1, $_height, $_height / 2);
      @if $_direction == up {
        border-left: $_width solid $_background-color;
        border-right: $_width solid $_background-color;
        border-bottom: $_height solid $_foreground-color;
      }
      @else if $_direction == right {
        border-top: $_width solid $_background-color;
        border-bottom: $_width solid $_background-color;
        border-left: $_height solid $_foreground-color;
      }
      @else if $_direction == down {
        border-left: $_width solid $_background-color;
        border-right: $_width solid $_background-color;
        border-top: $_height solid $_foreground-color;
      }
      @else if $_direction == left {
        border-top: $_width solid $_background-color;
        border-bottom: $_width solid $_background-color;
        border-right: $_height solid $_foreground-color;
      }
    }
    @else if $_direction == up-right or $_direction == up-left {
      border-top: $_height solid $_foreground-color;
      @if $_direction == up-right {
        border-left: $_width solid $_background-color;
      }
      @else if $_direction == up-left {
        border-right: $_width solid $_background-color;
      }
    }
    @else if $_direction == down-right or $_direction == down-left {
      border-bottom: $_height solid $_foreground-color;
      @if $_direction == down-right {
        border-left: $_width solid $_background-color;
      }
      @else if $_direction == down-left {
        border-right: $_width solid $_background-color;
      }
    }
    @else if $_direction == up-inset {
      border-width: $_height $_width;
      border-style: solid;
      border-color: $_background-color $_background-color $_foreground-color;
    }
    @else if $_direction == down-inset {
      border-width: $_height $_width;
      border-style: solid;
      border-color: $_foreground-color $_background-color $_background-color;
    }
    @else if $_direction == right-inset {
      border-width: $_width $_height;
      border-style: solid;
      border-color: $_background-color $_background-color $_background-color $_foreground-color;
    }
    @else if $_direction == left-inset {
      border-width: $_width $_height;
      border-style: solid;
      border-color: $_background-color $_foreground-color $_background-color $_background-color;
    }
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
}