//----------
// Settings
//----------

// ----- Colors ----- //

// Base
$base-bg-color: #fff; // White
$base-font-color: lighten(#000, 20); // Gray20 #333

// Alerts
$error-bg-color: #fcf0ad; // Canary Yellow
$error-color: #d44942; // Chili

// ----- Media Query Breakpoints ----- //

// Mobile first up to 480px

// Tablet
$tablet: 30.0625em; // 481px to 768px

// Laptop
$laptop: 48.0625em; // 769px to 1366px

// Desktop
$desktop: 85.4375em; // 1367px and up

// ----- Fonts ----- //

// Base
$base-font: Verdana, Geneva, sans-serif;

// ----- Sizes ----- //

// Base
$base-font-size: 16; // px
$base-line-height: 1.5;