<!doctype html>{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<html class="no-js" lang="en">
<head>
  <!-- {{ site.banner }} -->
  <meta charset="utf-8">
  <meta http-equiv"X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" href="{{ relative }}feed.xml" title="{{ site.title }} Feed" type="application/atom+xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <!--[if (gt IE 8) | (IEMobile)]><!-->
  <link rel="stylesheet" href="{{ relative }}assets/css/style.min.css">
  <!--<![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="{{ relative }}assets/css/oldie.min.css">
  <script src="{{ relative }}assets/js/oldie.min.js"></script>
  <![endif]-->
  <script>with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}</script>{% if page.head %}
  {{ page.head }}{% endif %}
</head>
<body>
  {% include header.html %}
  <div class="content">
    {% include main.html %}
    {% include aside.html %}
  </div><!-- /content -->
  {% include footer.html %}{% if site.jquery %}
  <script src="{{ relative }}assets/js/jquery.min.js"></script>{% endif %}
  <script src="{{ relative }}assets/js/script.min.js"></script>{% if page.foot %}
  {{ page.foot }}{% endif %}{% if site.google_analytics_id %}
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.google_analytics_id }}');ga('send','pageview');
  </script>{% endif %}
</body>
</html>