//------------------------------//
// 01: Base
//------------------------------//

html {
  background-color: $background-color;
  box-sizing: border-box;
  color: $color;
  font-family: $font-family;
  font-size: rem($font-size);
  height: 100%;
  line-height: $line-height / $font-size;
  @include rem-px(min-width, $min-width);
  overflow-y: scroll;
}

*,
:before,
:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $selection-color;
  text-shadow: none;
}

body {
  height: inherit;
}

hr {
  @include horizontal-rule;
}

a {
  text-decoration: none;
  &:link {
    border-bottom: 1px solid;
  }
  &:visited {}
  &:focus {
    outline: thin dotted;
  }
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &:active {}
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

blockquote {}

canvas {
  -ms-touch-action: auto;
}

cite {}

code {
  font-family: $code-font-family;
  vertical-align: bottom;
}

dl,
ol,
ul {}

embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
  &[height],
  &[width] {
    max-width: none;
  }
}

fieldset {
  border: 0;
}

figcaption {}

figure {}

form {}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font-family;
  font-weight: bold;
}

h1, .h1 {}

h2, .h2 {}

h3, .h3 {}

h4, .h4 {}

h5, .h5 {}

h6, .h6 {}

input {}

label {}

mark {}

p {}

pre {
  overflow: auto;
  white-space: pre;
}

textarea {
  resize: vertical;
}