//------------------------------//
// Font Face
//------------------------------//

// Usage
// @include font-face(font-family, font-name, weight, style);

// Arguments
// $_font-family: Font name
// $_font-name: Font name - (Default: $font-family)
// $_weight: bold, extra-bold, normal, semi-bold - (Default: normal)
// $_style: italic, normal - (Default: normal)

// Notes
// Include order: normal, bold, italic, bold + italic

@mixin font-face($_font-family, $_font-name: $_font-family, $_weight: normal, $_style: normal) {
  @font-face {
    font-family: $_font-family;
    font-weight: $_weight;
    font-style: $_style;
    src: url("#{$font-path}#{$_font-name}.eot");
    src: url("#{$font-path}#{$_font-name}.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}#{$_font-name}.woff") format("woff"),
         url("#{$font-path}#{$_font-name}.ttf") format("truetype"),
         url("#{$font-path}#{$_font-name}.svg##{$_font-family}") format("svg");
  }
}