//------------------------------//
// Image Replacement
//------------------------------//

// Usage
// @include image-replacement;

@mixin image-replacement {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: #{0 / 0} a;
  text-shadow: none;
}

// Usage
// @extend %image-replacement;

%image-replacement {
  @include image-replacement;
}