//------------------------------//
// Linear Gradient
//------------------------------//

// Usage
// @include linear-gradient(position, color, fallback);

// Arguments
// $_pos: (n)deg, to bottom, to left, to right, to top
// $_G(n): Color and Color Stop
// $_fallback: Color

@mixin linear-gradient($_pos, $_G1, $_G2: null, $_G3: null, $_G4: null, $_G5: null, $_G6: null, $_G7: null, $_G8: null, $_G9: null, $_G10: null, $_fallback: null) {
  $_pos-type: type-of(nth($_pos, 1));
  $_pos-spec: null;
  $_pos-degree: null;
  @if $_pos-type == color or nth($_pos, 1) == "transparent" {
    $_G10: $_G9;
    $_G9: $_G8;
    $_G8: $_G7;
    $_G7: $_G6;
    $_G6: $_G5;
    $_G5: $_G4;
    $_G4: $_G3;
    $_G3: $_G2;
    $_G2: $_G1;
    $_G1: $_pos;
    $_pos: null;
  }
  @if $_pos {
    $_positions: _linear-positions-parser($_pos);
    $_pos-degree: nth($_positions, 1);
    $_pos-spec: nth($_positions, 2);
  }
  $_full: $_G1, $_G2, $_G3, $_G4, $_G5, $_G6, $_G7, $_G8, $_G9, $_G10;
  $_fallback-color: nth($_G1, 1);
  @if type-of($_fallback) == color or $_fallback == "transparent" {
    $_fallback-color: $_fallback;
  }
  background-color: $_fallback-color;
  background-image: unquote("linear-gradient(#{$_pos-spec}#{$_full})");
}