//-----------
// Variables
//-----------

// ----- Colors ----- //



// ----- Fonts ----- //

$base-font-family: Verdana, Geneva, sans-serif;
$code-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// ----- Sizes ----- //

$base-font-size: 16; // px
$base-line-height: 1.5;

// ----- Media Query Breakpoints ----- //

// Mobile first up to 480px

// Tablet
$tablet: 30.0625em; // 481px to 768px

// Laptop
$laptop: 48.0625em; // 769px to 1366px

// Desktop
$desktop: 85.4375em; // 1367px and up