/*-------------
    VARIABLES
  -------------*/

/* ----- Colors ----- */



/* ----- Fonts ----- */

$base-font-family: Verdana, Geneva, sans-serif;
$code-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

/* ----- Sizes ----- */

$base-font-size: 16; /* px */
$base-line-height: 1.5;

/* ----- Media Query Breakpoints ----- */

/**
 * Tablet
 * 481px to 768px
 */

$tablet: 30.0625em;

/**
 * Laptop
 * 769px to 1366px
 */

$laptop: 48.0625em;

/**
 * Desktop
 * 1367px and up
 */

$desktop: 85.4375em;