    {% if site.wordpress_theme_name %}<?php wp_footer(); ?>{% else %}{% if site.link.script %}
    <script src="{% if page.relative == false %}/{% else %}{{ relative }}{% endif %}assets/js/{{ site.link.script }}"></script>{% endif %}{% if page.include.foot %}
    {{ page.include.foot }}{% endif %}{% endif %}{% if site.google_analytics %}
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create','{{ site.google_analytics }}','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>{% endif %}
  </body>
</html>