//------------------------------//
// PX to REM
//------------------------------//

// Usage
// rem(target);

// Arguments
// $target: Number

@function rem($target) {
  $base: $base__font-size;
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return $target / $base * 1rem;
}