//------------------------------//
// Base
//------------------------------//

// Universal border-box / reset

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Misc

::selection {
  background-color: $base__background-color--selection;
  text-shadow: none;
}

// Elements

html {
  background-color: $base__background-color;
  color: $base__color;
  font-family: $base__font-family;
  font-size: em($base__font-size);
  line-height: $base__line-height--ratio;
  min-height: 100%;
  min-width: em(320);
  overflow-y: scroll;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid LightGray;
  margin-bottom: em($base__line-height);
  margin-top: em($base__line-height);
}

a {
  border-bottom: 1px solid;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid transparent;
  }
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

blockquote {
  @include baseline(16);
}

canvas {
  -ms-touch-action: auto;
}

code {
  font-family: $base__font-family--code;
  vertical-align: bottom;
}

dl,
ol,
ul {
  @include baseline(16);
}

embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}

embed[height], embed[width],
img[height], img[width],
object[height], object[width],
video[height], video[width] {
  max-width: none;
}

fieldset {
  border: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $base__font-family--heading;
  font-weight: bold;
}

h1, .h1 {
  @include baseline(32);
}

h2, .h2 {
  @include baseline(28);
}

h3, .h3 {
  @include baseline(24);
}

h4, .h4 {
  @include baseline(20);
}

h5, .h5 {
  @include baseline(18);
}

h6, .h6 {
  @include baseline(16);
}

p,
pre {
  @include baseline(16);
}

pre {
  overflow: auto;
  white-space: pre;
}

textarea {
  resize: vertical;
}