//------------------------------//
// Base
//------------------------------//

// Universal Reset / border-box

* {
  margin: 0;
  padding: 0;

  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

// Misc

::-moz-selection {
  background: $base__background-color--selection;
  text-shadow: none;
}

::selection {
  background: $base__background-color--selection;
  text-shadow: none;
}

// Elements

html {
  background: $base__background-color;
  color: $base__color;
  font: #{em($base__font-size)}/#{$base__line-height--ratio} $base__font-family;
  min-height: 100%;
  overflow-y: scroll;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid darken(white, 20);
  margin: em($base__line-height) 0;
}

a {
  border-bottom: 1px solid;
  text-decoration: none;

  &:active,
  &:hover {
    border-bottom: 1px solid transparent;
  }
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

blockquote {
  @include baseline(20);

  @include breakpoint(medium) {
    @include baseline(24);
  }
}

canvas {
  -ms-touch-action: auto;
}

code {
  font-family: $base__font-family--code;
  vertical-align: bottom;
}

dl,
ol,
ul {
  @include baseline(16);
}

embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}

embed[height], embed[width],
img[height], img[width],
object[height], object[width],
video[height], video[width] {
  max-width: none;
}

fieldset {
  border: 0;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-family: $base__font-family--heading;
  font-weight: bold;
}

h1, .alpha {
  @include baseline(32);

  @include breakpoint(medium) {
    @include baseline(40);
  }

  @include breakpoint(large) {
    @include baseline(48);
  }
}

h2, .beta {
  @include baseline(26);

  @include breakpoint(medium) {
    @include baseline(32);
  }

  @include breakpoint(large) {
    @include baseline(36);
  }
}

h3, .gamma {
  @include baseline(22);

  @include breakpoint(medium) {
    @include baseline(24);
  }

  @include breakpoint(large) {
    @include baseline(28);
  }
}

h4, .delta {
  @include baseline(18);
}

h5, .epsilon {
  @include baseline(16);
}

h6, .zeta {
  @include baseline(14);
}

p,
pre {
  @include baseline(16);
}

pre {
  overflow: auto;
  white-space: pre;
}

textarea {
  resize: vertical;
}