//------------------------------//
// Base
//------------------------------//

// Universal border-box / reset

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Misc

::selection {
  background-color: $base__background-color--selection;
  text-shadow: none;
}

// Elements

html {
  background-color: $base__background-color;
  color: $base__color;
  font-family: $base__font-family;
  font-size: em($base__font-size);
  line-height: $base__line-height / $base__font-size;
  min-height: 100%;
  overflow-y: scroll;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid silver;
  @include rem-px(margin-bottom, $base__line-height);
  @include rem-px(margin-top, $base__line-height);
}

a {
  text-decoration: none;
  &:link {
    border-bottom: 1px solid;
  }
  &:visited {}
  &:focus {
    outline: thin dotted;
  }
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &:active {}
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

blockquote {}

canvas {
  -ms-touch-action: auto;
}

code {
  font-family: $base__font-family--code;
  vertical-align: bottom;
}

dl,
ol,
ul {}

embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
  &[height],
  &[width] {
    max-width: none;
  }
}

fieldset {
  border: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $base__font-family--heading;
  font-weight: bold;
}

h1, .h1 {}

h2, .h2 {}

h3, .h3 {}

h4, .h4 {}

h5, .h5 {}

h6, .h6 {}

p {}

pre {
  overflow: auto;
  white-space: pre;
}

textarea {
  resize: vertical;
}