//------------------------------//
// Clearfix
//------------------------------//

// Usage
// @include clear;

@mixin clear {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage
// @extend %clear;

%clear {
  @include clear;
}