//------------------------------//
// GRIDS
//------------------------------//

// ---------- Baseline grid ---------- //

// Usage:
// @include baseline(16, 24);

@mixin baseline($target, $context: $base__font-size) {
  font-size: em($target, $context);
  @if $target >= $baseline {
    line-height: strip-units(em($baseline, $target)) * 2;
  }
  @else {
    line-height: strip-units(em($baseline, $target));
  }
  margin: em($baseline, $target) 0;
}

// ---------- Semantic / responsive grid ---------- //

// Based on:
// https://github.com/studiowolf/taiga-grid
// Usage:
// @include grid(12, 2);
// The first unit (12) is the column width
// The second unit (2) is the margin on both sides
// The margin will be auto-substracted from the column width
// or
// @include grid(12, 2, 3); sets different margins on both sides
// Note:
// You can also use negative margins

@mixin col($n: 1) {
  @include border-box;
  @include inline-block(top);
  width: $n * $grid__column;
}

@mixin prepend($n: 1) {
  margin-left: $grid__column * $n;
}

@mixin append($n: 1) {
  margin-right: $grid__column * $n;
}

@mixin grid($cols: 1, $grid__margin--left: 0, $grid__margin--right: $grid__margin--left) {
  @include col($cols - ($grid__margin--left + $grid__margin--right));
  @include prepend($grid__margin--left);
  @include append($grid__margin--right);
}