//------------------------------//
// Hidden
//------------------------------//

// Description
// Hide from both screenreaders and browsers

// Usage
// @include hidden;

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Usage
// @extend %hidden;

%hidden {
  @include hidden;
}

// ---------- Undo Hidden ---------- //

// Usage
// @include hidden--undo;

@mixin hidden--undo {
  display: block !important;
  visibility: visible;
}

// Usage
// @extend %hidden--undo;

%hidden--undo {
  @include hidden--undo;
}