//------------------------------//
// Media Object
//------------------------------//

// ---------- Media Object ---------- //

// Usage
// @include media-object;

@mixin media-object {
  @include clear;
  display: block;
}

// Usage
// @extend %media;

%media {
  @include media-object;
}

// ---------- Media Object Body ---------- //

// Usage
// @include media-object__body;

@mixin media-object__body {
  overflow: hidden;
}

// Usage
// @extend %media-object__body;

%media-object__body {
  @include media-object__body;
}

// ---------- Media Object Image ---------- //

// Usage
// @include media-object__image;

@mixin media-object__image {
  float: left;
  & img {
    display: block;
  }
}

// Usage
// @extend %media-object__image;

%media-object__image {
  @include media-object__image;
}

// ---------- Media Object Image Reversed ---------- //

// Usage
// @inclue media-object__image--rev;

@mixin media-object__image--rev {
  float: right;
  & img {
    display: block;
  }
}

// Usage
// @extend %media-object__image--rev;

%media-object__image--rev {
  @include media-object__image--rev;
}