//------------------------------//
// PROPERTIES
//------------------------------//

// ---------- border-box ---------- //

// Usage:
// @include border-box;

@mixin border-box {
  box-sizing: border-box;
  @if $oldie {
    *behavior: url(/assets/js/boxsizing.htc);
  }
}

// Extend border-box
// Usage:
// @extend %border-box;

%border-box {
  @include border-box;
}

// ---------- inline-block ---------- //

// Usage:
// @include inline-block(top);

@mixin inline-block($vertical-align: baseline) {
  display:inline-block;
  vertical-align: $vertical-align;
  @if $oldie {
    zoom: 1;
    *display: inline;
    *vertical-align: $vertical-align;
  }
}

// Extend inline-block
// Usage:
// @extend %inline-block;

%inline-block {
  @include inline-block;
}