//------------------------------//
// Width and Height
//------------------------------//

// Usage
// @include height-width(width, height, type);

// Arguments
// $_width: Number
// $_height: Number - (Default: Width)
// $_type: fixed, fluid - (Default: fixed)

@mixin width-height($_width, $_height: $_width, $_type: fixed) {
  @if $_type == "fluid" {
    @if $_height > 100 or $_height > 100% {
      height: 100%;
    }
    @else {
      height: strip-units($_height) * 1%;
    }
    @if $_width > 100 or $_width > 100% {
      width: 100%;
    }
    @else {
      width: strip-units($_width) * 1%;
    }
  }
  @else {
    @include rem-px(height, $_height);
    @include rem-px(width, $_width);
  }
}