//------------------------------//
// BASE STYLES
//------------------------------//

html,
button,
input,
select,
textarea {
  color: $base-color;
}

html {
  background: $base-background-color;
  font:#{em($base-font-size)}/#{$base-line-height} $base-font-family;
  min-height:100%;
  overflow-y: scroll;
}

::-moz-selection {
  background: $selection-color;
  text-shadow: none;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

canvas {
  -ms-touch-action: auto;
}

embed,
img,
object,
video {
  max-width: 100%;
}

embed[height],
embed[width],
img[height],
img[width],
object[height],
object[width],
video[height],
video[width] {
  max-width: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid darken(white, 20);
  margin: em($base-font-size) 0;
  padding: 0;
}

textarea {
  resize: vertical;
}