//------------------------------//
// BASE STYLES
//------------------------------//

html,
button,
input,
select,
textarea {
  color: $base-color;
}

html {
  @if $baseline-overlay {
    background: linear-gradient(#ccc, #eee 0.1em);
    background-size: 1.5em 1.5em;
  }
  @else {
    background: $base-background-color;
  }
  font: #{em($base-font-size)}/#{$base-line-height} $base-font-family;
  margin: 0 auto;
  @if $oldie {
    max-width: 60em; // 960px
  }
  @else {
    max-width: $base-website-max-width;
  }
  min-height: 100%;
  overflow-y: scroll;
}

::-moz-selection {
  background: $selection-color;
  text-shadow: none;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

canvas {
  -ms-touch-action: auto;
}

embed,
img,
object,
video {
  max-width: 100%;
}

embed[height],
embed[width],
img[height],
img[width],
object[height],
object[width],
video[height],
video[width] {
  max-width: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
  font-weight: bold;
  margin: 0;
}

h1,
.alpha {
  @include baseline(32);
}

h2,
.beta {
  @include baseline(28);
}

h3,
.gamma {
  @include baseline(24);
}

h4,
.delta {
  @include baseline(21);
}

h5,
.epsilon {
  @include baseline(18);
}

h6,
.zeta {
  @include baseline(16);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid darken(white, 20);
  margin: ($base-line-height + em) 0;
  padding: 0;
}

p,
blockquote {
  margin: 0;
  @include baseline(16);
}

textarea {
  resize: vertical;
}