//------------------
//  Default Styles
//------------------

// http://paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
  @include prefixer(box-sizing, border-box, webkit moz spec);
}

// http://github.com/csswizardry/inuit.css/blob/master/generic/_reset.scss

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin:0;
  padding:0;
}

// http://html5boilerplate.com

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.5;
  min-width: em(320);
  overflow-y: scroll;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

// http://msdn.microsoft.com/en-US/library/ie/hh772044.aspx
canvas {
  -ms-touch-action: auto;
}

// http://alistapart.com/article/fluid-images/
embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}