//---------------------------------
//  CSS Resets and Default Styles
//---------------------------------

/* ----- Box Model ----- */
// http://paulirish.com/2012/box-sizing-border-box-ftw/

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

/* ----- Defaults ----- */

// Fluid Images
// http://alistapart.com/article/fluid-images/

embed,
img,
object,
video {
  max-width: 100%;
}

// From HTML5 Boilerplate Main CSS
// http://raw.github.com/h5bp/html5-boilerplate/master/css/main.css

audio,
canvas,
img,
video {
  vertical-align: middle;
}

body {
  font-size: 1em;
  line-height: 1.5;
}

textarea {
  resize: vertical;
}

// -ms-touch-action Property
// http://msdn.microsoft.com/en-US/library/ie/hh772044.aspx

canvas {
  -ms-touch-action: auto;
}