//------------------
//  Default Styles
//------------------

// http://paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// http://html5boilerplate.com
html {
  font-size: 1em;
  line-height: 1.5;
  min-width: em(320);
  overflow-y: scroll;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

// http://msdn.microsoft.com/en-US/library/ie/hh772044.aspx
canvas {
  -ms-touch-action: auto;
}

// http://alistapart.com/article/fluid-images/
embed,
img,
object,
video {
  height: auto;
  max-width: 100%;
}