//------------------------------//
// VARIABLES
//------------------------------//

// ---------- Base ---------- //

$base-background-color: white !default;
$base-color: lighten(black, 13) !default; // #212121
$base-font-family: Verdana, Geneva, sans-serif !default;
$base-font-size: 16px !default; // Used in PX to EM conversion function
$base-line-height: 1.5 !default;
$base-website-max-width: auto !default; // Websites maximum width

// ---------- Breakpoints ---------- //

$small: 30.0625em !default; // 481px to $medium
$medium: 48.0625em !default; // 769px to $large
$large: 64.0625em !default; // 1025px to $xlarge
$xlarge: 85.4375em !default; // 1367px and up

// ---------- Colors ---------- //

$selection-color: darken(white, 10) !default; // #e6e6e6

// ---------- Grid ---------- //

$grid-columns: 48 !default; // Number of grid columns

// ---------- Variables used in mixins that don't change ---------- //

$breakpoints: small $small, medium $medium, large $large, xlarge $xlarge !default; // Breakpoint mixin
$grid-column: 100% / $grid-columns !default; // Grid mixin
$oldie: false !default; // Set to true on oldie.scss to pull in 'oldie' styles