//------------------------------//
// VARIABLES
//------------------------------//

// ---------- Base ---------- //

$base-background-color: white !default;
$base-color: #222222 !default;
$base-font-family: Verdana, Geneva, sans-serif !default;
$base-font-family-code: Georgia, Times, 'Times New Roman', serif !default;
$base-font-family-heading: Verdana, Geneva, sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-max-width: none !default;
$oldie-width: 60em !default; // 960px

// ---------- Breakpoints ---------- //

$small: 30.0625em !default; // 481px
$medium: 48.0625em !default; // 769px
$large: 64.0625em !default; // 1025px
$xlarge: 85.4375em !default; // 1367px

// ---------- Colors ---------- //

$selection-color: #eeeeee !default;

// ---------- Grid ---------- //

$baseline-grid-overlay: false !default; // Overlay baseline grid
$grid-columns: 48 !default;

// Number of grid columns

// ---------- Variables used in mixins that don't change ---------- //

$baseline: $base-font-size * $base-line-height !default; // Baseline grid mixin
$breakpoints: small $small, medium $medium, large $large, xlarge $xlarge !default; // Breakpoint mixin
$grid-column: 100% / $grid-columns !default; // Grid mixin
$oldie: false !default; // Set to true on oldie.scss to pull in 'oldie' styles