  {% if site.jquery_scripts == true %}<!-- jQuery / Scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_version }}/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ relative }}js/jquery.min.js?{{ site.jquery_version }}"><\/script>')</script>{% endif %}{% if site.scripts == true %}
  <script src="{{ relative }}js/script.min.js?{{ site.time | date: "%y%m%d%H%M%S" }}"></script>{% endif %}{% if site.google_analytics == true %}
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','{{ site.google_analytics_id }}');ga('send','pageview');
  </script>{% endif %}
</body>
</html>