<!doctype html>{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <!-- <%= banner %> -->{% if site.ie_edge == true %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% endif %}{% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>{% else %}
  <title>{{ site.name }}</title>{% endif %}{% if page.description %}
  <meta name="description" content="{{ page.description }}">{% else %}
  <meta name="description" content="{{ site.description }}">{% endif %}{% if site.responsive_design == true %}
  <meta name="viewport" content="width=device-width, initial-scale=1">{% endif %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} Atom Feed" href="{{ relative }}feed.xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">{% if site.web_fonts == true %}
  <link rel="stylesheet" href="{{ site.web_fonts_stack }}">{% endif %}{% if site.svg_images == true %}
  <script>
  window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
  grunticon( [ "{{ relative }}css/icon.data.svg.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}", "{{ relative }}css/icon.data.png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}", "{{ relative }}css/icon.png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}" ] );</script>
  <noscript><link rel="stylesheet" href="{{ relative }}css/icon.png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}"></noscript>{% endif %}
  <!--[if (gt IE 8) | (IEMobile)]><!-->
  <link rel="stylesheet" href="{{ relative }}css/style.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}">
  <!--<![endif]-->{% if site.oldie_support == true %}
  <!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="{{ relative }}css/oldie.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}">
  <script src="{{ relative }}js/oldie.min.js?{{ site.time | date: "%y%m%d%H%M%S" }}"></script>
  <![endif]-->{% endif %}
  <script>with(document.documentElement){className=className.replace(/\bno-js\b/,'')}</script>
</head>