<!doctype html>{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <!-- <%= banner %> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>{% else %}
  <title>{{ site.name }}</title>{% endif %}{% if page.description %}
  <meta name="description" content="{{ page.description }}">{% else %}
  <meta name="description" content="{{ site.description }}">{% endif %}{% if site.responsive_design == true %}
  <meta name="viewport" content="width=device-width, initial-scale=1">{% endif %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} Atom Feed" href="{{ relative }}feed.xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <link rel="sitemap" type="application/xml" title="{{ site.name }} Sitemap" href="{{ relative }}sitemap.xml">
  <!--[if (gt IE 8) | (IEMobile)]><!-->
  <link rel="stylesheet" href="{{ relative }}css/style.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}">
  <!--<![endif]-->{% if site.oldie_support == true %}
  <!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="{{ relative }}css/oldie.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}">
  <script src="{{ relative }}js/oldie.min.js?{{ site.time | date: "%y%m%d%H%M%S" }}"></script>
  <![endif]-->{% endif %}{% if site.svg_icons == true %}
  <script>
    window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
    grunticon( [ "{{ relative }}css/icons-data-svg.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}", "{{ relative }}css/icons-data-png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}", "{{ relative }}css/icons-png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}" ] );
  </script>
  <noscript><link rel="stylesheet" href="{{ relative }}css/icons-png.min.css?{{ site.time | date: "%y%m%d%H%M%S" }}"></noscript>{% endif %}
  <script>with(document.documentElement){className=className.replace(/\bno-js\b/,'')}</script>
</head>
<body>{% if site.oldie_support == true %}
  <!--[if lt IE 8]>
  <p class="browser-alert">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->{% endif %}